#contact {
  margin-top: 120px;
}

.contact-title {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.contact-description {
  font-size: 16px;
  text-align: center;
}

.contact-description-container {
  margin-top: 24px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

input {
  padding: 15px 16px;
  font-family: inherit;
}

textarea {
  height: 148px;
  padding: 12px;
  font-family: inherit;
  margin-bottom: 0;
}

#send-btn {
  background: #7d73fc;
  color: #edecff;
  border: none;
  padding: 12px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 16px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#send-btn:active {
  background-color: #5e42d7;
}

#send-btn:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}
