.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container ul {
  display: flex;
  gap: 21px;
  margin-bottom: 10px; 
}

.footer-container a {
  text-decoration: none;
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}

hr {
  border: 1px solid #3a3837;
  margin: 70px -24px 25px -24px;
}

