@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
}

body {
  background-color: #191765;
  font-family: Poppins, sans-serif;
  color: white;
  padding: 32px 24px;
  overflow-x: hidden;
}

.text-gradient {
  /* stylelint-disable property-no-vendor-prefix */
  background:
    radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.menu {
  display: none;
}

.work-container,
.footer-work1,
.footer-work2,
.recent2,
.contact-title2,
.footer-container2 {
  display: none;
}

.grid-layout2 {
  display: none;
}

.intro-footer-gradient2,
.line2,
.line3 {
  display: none;
}
