.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  color: #a2a3ae;
  font-size: 20px;
}

.vertical-container {
  position: relative;
  margin-right: 20.85px;
}

.arrow-container {
  position: absolute;
  top: 11px;
  right: -9px;
}

.vertical {
  height: 21.3px;
}
