.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.intro-footer-gradient {
  position: absolute;
  right: -23px;
  top: -20px;
}

.items h4 {
  margin-bottom: 25px;
}

.items li {
  margin-bottom: 20px;
}

.social-links ul {
  list-style: none;
  padding: 0;
}

.items {
  min-width: 150px;
}

.social-links li {
  margin-top: 19px;
  font-size: 15px;
}

.intro-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 28px;
}

.img-container {
  display: flex;
  gap: 20px;
}

