.header-container {
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 18px;
  animation: spin 1s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav ul li a,
nav ul li {
  transition: color 0.25s ease-in-out;
}

nav ul li a {
  color: white;
}

nav ul li a:hover,
nav ul li:hover {
  color: #7d73fc;
}

.hamburger {
  height: 20.83px;
  width: 33.33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  height: 3px;
  width: 100%;
  display: block;
  background-color: white;
}

.hamburger span:first-child {
  transform: translateY(-50%);
}

.hamburger span:last-child {
  transform: translateY(50%);
}
